<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TicketApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">

        <a class="navbar-brand fw-bold">🎟 Ticket App</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/Home/Index">Gösteriler</a>
                </li>
            </ul>

            @if (User.Identity!.IsAuthenticated)
            {
                <span class="navbar-text me-3 text-white-50">
                    Hoş geldin, <strong>@User.Identity.Name</strong>
                </span>

                <a class="btn btn-profile" href="/Users/Profile">Profil</a>
                <a class="btn btn-logout ms-2" href="/Users/Logout">Çıkış</a>

            }
            else
            {
                <a class="btn btn-outline-light btn-sm" href="/Users/Login">Giriş Yap</a>
                <a class="btn btn-warning btn-sm ms-2" href="/Users/Register">Kayıt Ol</a>
            }
        </div>
    </div>
</nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TicketApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
